@import "tailwindcss";

body {
  font-family: "Satoshi", sans-serif;
  @apply bg-[white];
}

@theme {
  --breakpoint-3xs: 24rem;
  --breakpoint-2xs: 28rem;
  --breakpoint-xs: 36rem;
}

@layer components {
  .container {
    @apply container mx-auto;
  }

  .align {
    @apply justify-between items-center;
  }

  .source-text {
    @apply text-xs font-light;
  }

  .paragraph-text {
    @apply text-xs md:text-sm;
  }

  .small-header-title {
    @apply text-sm md:text-base font-[500] tracking-wide;
  }

  .big-header-text {
    @apply text-base md:text-lg font-[500];
  }
}
